.in2-button {
  /* font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* font-weight: 700; */
  /* border-radius: 3em; */
  /* cursor: pointer; */
  /* display: inline-block; */
  /* line-height: 1; */
  /* background-color: red; */
  /* color: yellow; */
  border: 0;
  display: flex;
  flex-direction: row;
  /* border-radius: 6px; */
  /* align-items: flex-start; */
  /* padding: 0px; */
  /* gap: 10px; */
  align-items: center;
  padding: 8px 16px;
  /* gap: 10px; */
  border-radius: 32px;
  /* font-family: "Space Grotesk"; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  color: white;
  background-color: #1ea7fd;
}
.in2-button--primary {
  background-color: #00f981;
  color: #0f1a2a;
}
.in2-button--secondary {
  color: #fefefe; /*light/text/text-on-color*/
  background-color: #0a188f; /*light/button/button-brand-02*/
}
.in2-button--outline {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.in2-button-large-size {
  padding: 16px 24px;
}
.in2-button-small-size {
  /* padding: 8px 16px; */
  padding: 4px 12px;
}
.fullWidth {
  width: 100%;
}
